html,
body {
  background-color: #1f242c;
  /* background: linear-gradient(#7a9cc6, #f69d3c, #fffd98, #3f87a6); */

  padding: 0;
  margin: 0;
  font-family: Inter, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
